table,
td,
th {
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}


table {
    width: 45%;
    border-collapse:initial ;
}

.novoProcedimento{
    color: rgb(95, 153, 8);
}
.novoProcedimento:hover{
    cursor:pointer;
}