
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Configuração geral dos conteiners*/
.conteinerCamposDadosPessoais, .conteinerCamposPais, .conteinerCamposFisicos, .conteinerCamposEndereco,
.conteinerQueixaPrincipal, .conteinerHistorico, .conteinerSofre, .conteinerOutras, .conteinerCondutaCrianca,
.conteinerDoisPrimeiros, .conteinerNormal, .conteinerCampoFisicoI, .conteinerPossui, .conteinerAvaliacaoFisica,
.conteinerExames{
    display: flex;
    flex-wrap: wrap; /*quebra o conteudo quando chega no máximo de largura e/ou altura*/
    height: 50%; /*tem sempre metade da altura disponivel*/
}
/* Configuração geral dos itens */
.campoItemDadosPessoais, .campoItemPais, .campoItemFisicos, .campoItemEndereco,
.campoItemQueixaPrinciapal, .campoItemHistorico, .campoItemSofre, .campoItemOutras, .campoItemConduta,
.campoItemDoisPrimeiros, .campoItemNormal, .campoItemFisicoI, .campoItemPossui, .campoItemAvaliacaoFisica,
.campoItemExames{
    word-wrap: break-word;
    border: 0.5px solid black;
    padding: 10px;
    margin-left: -1px;
    margin-bottom: -1px;
    width: 25%; /*espaço que cada campo possui (quanto mais espaço, menos em cada linha)*/
}

/* Configuração dos últimos dois itens dos dados pessoais */
.campoItemDadosPessoais:nth-last-child(-n+2){
    width: 38.3%;
}

/* Configuração da tabela Pais */
.conteinerCamposPais{
    width: 45%;
}

.campoItemPais{
    width: 45%;
}

/* Configuração da tabela Dados Fisicos */

.conteinerCamposFisicos{
    width: 30%;
}

.campoItemFisicos{
    width: 52%;
}

/* Configuração da tabela Endereços */

.conteinerCamposEndereco{
    width: 30%;
    margin-bottom: 2%;
}

.campoItemEndereco{
    width: 52%;
}

.conteinerHistorico{
    width: 50%;
}

.campoItemHistorico{
    width: 40%
}

.conteinerSofre{
    width: 50%
}

.conteinerCondutaCrianca{
    width: 50%;
}

.campoItemConduta{
    width: 45%;
}

.campoItemConduta:first-child{
    width: 93.1%;
}

.conteinerDoisPrimeiros{
    width: 40%
}

.campoItemDoisPrimeiros{
    width: 35%;
}

.campoItemDoisPrimeiros:last-child{
    width: 73.9%;
}

.conteinerNormal{
    width: 35%;
}

.conteinerCampoFisicoI{
    width: 40%;
}

.campoItemFisicoI{
    width: 45%;
}

.campoItemFisicoI:last-child{
    width: 94%;
}

.conteinerPossui{
    width: 35%;
    margin-bottom: 2%;
}

.campoItemPossui:last-child{
    width: 84%;
}

.conteinerAvaliacaoFisica{
    width: 40%
}

.campoItemAvaliacaoFisica{
    width: 43%;
}

.campoItemAvaliacaoFisica:last-child{
    width: 90%;
}

.conteinerExames{
    width: 49%;
    margin-bottom: 2%;
}

.campoItemExames{
    width: 46%;
}

.conteinerAdicionarProcedimento{
    display: flex;
    align-items: center;
    
}


.conteinerProntuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.campoItemProntuario{
    width: 70%;
    
}

.conteinerTabela{
    display: flex;
    align-items: center;

}

table,
td,
th {
    text-align: center;
    font-weight: normal;
    
    
}

table {
    width: 91%;
    border-collapse: separate; /*changed from collapse*/
    border-spacing: 0;
    border: 1px solid black;
    border-width: 0 0 1px 1px; /*draw bottom and left borders*/
}
td, th{
    padding: 5px;
    border: 1px solid black;
    border-width: 1px 1px 0 0; /*draw top and right borders*/
}


input:not(.prontuario){
    width: 35%;
}
select{
    height: 22px;
    width: 35%;
}

.novoProcedimento{
    color: rgb(95, 153, 8);
}
.novoProcedimento:hover{
    cursor:pointer;
    color: rgb(153, 13, 8);
    transition: 0.5s;
}
.botao,.botaoDesligado{
    border: 1px solid #ef1d26;
    border-radius: 7%;
    padding: 10px 20px;
    margin: 0.3%;
    background: #ef1d26;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: relative;
}

.botaoDesligado{
    background: none;
    color: #ef1d26;
}

.botao#botaoAdicionar{
    border-radius: 7%;
    padding: 2px 12px;
}

.invisivel{
    display: none;
}
